body {
  background-color: rgb(31, 81, 104);
}

.tarjeta {
  width: 18rem;
}
.start-desti:hover {
  color: rgb(187, 206, 15);
  transition: 0.5s;
}
.btns-excur:hover {
  color: rgb(82, 82, 252);
  transition: 0.5s;
}
.btns-tour:hover {
  color: rgb(187, 206, 15);
  transition: 0.5s;
}
.btns-trans:hover {
  color: rgb(170, 29, 29);
}
.btns-secu:hover {
  color: rgb(11, 177, 11);
}
.img-pay {
  width: 15%;
}
.facebook {
  color: rgb(0, 0, 255);
}
.twitter {
  color: rgb(0, 174, 255);
}
.insta {
  color: rgb(139, 6, 179);
}
.cards:hover {
  color: rgb(178, 34, 34);
}
.cash:hover {
  color: rgb(2, 71, 2);
}
.service:hover{
  color: rgb(3, 197, 197);
}
.contact:hover{
color: rgb(0, 0, 128);
}
.cities{
  width: 70%;
}
@media (max-width: 991px) {
  .imgs {
    width: 80%;
    height: auto;
  }
  .cities{
    width: 100%;
  }
  .img-pay {
    width: 35%;
    height: auto;
  }
  .start-desti {
    color: rgb(187, 206, 15);
    transition: 0.5s;
  }
  .btns-excur {
    color: rgb(82, 82, 252);
    transition: 0.5s;
  }
  .btns-tour {
    color: rgb(187, 206, 15);
    transition: 0.5s;
  }
  .btns-trans {
    color: rgb(170, 29, 29);
  }
  .btns-secu {
    color: rgb(11, 177, 11);
  }
  .cards {
    color: rgb(178, 34, 34);
  }
  .cash {
    color: rgb(2, 71, 2);
  }
  .service{
    color: rgb(3, 197, 197);
  }
  .contact{
  color: rgb(0, 0, 128);
  }

}
